.board {
  display: grid;
  grid-template-columns: calc(0.25 * var(--sq-size)) calc(8 * var(--sq-size));
}

.squares {
  display: grid;
  grid-template-columns: repeat(8, var(--sq-size));
  grid-template-rows: repeat(8, var(--sq-size));
  width: calc(8 * var(--sq-size));
}

.files {
  display: flex;
  grid-column: 2;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--green-board-dark);
  height: calc(0.25 * var(--sq-size));
}

.ranks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--green-board-dark);
}

.square-light {
  background: var(--green-board-light);
}

.square-dark {
  background: var(--green-board-dark);
}

.super-board {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  font-size: 10rem;
}
