:root {
  /*============== CHESS BOARD COLORS =====================*/
  --green-board-light: #eeeed2;
  --green-board-dark: #769656;
  --brown-board-dark: #b58863;
  --brown-board-light: #f0d9b5;

  --sq-size: 10rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Conversion of px to rem, 1rem = 10px */
html {
  font-size: 62.5%;
}

html,
body,
.App {
  height: 100vh;
}

.App {
  display: flex;
  place-content: center;
  margin: 5rem;
}
