@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /*============== CHESS BOARD COLORS =====================*/
  --green-board-light: #eeeed2;
  --green-board-dark: #769656;
  --brown-board-dark: #b58863;
  --brown-board-light: #f0d9b5;

  --sq-size: 10rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Conversion of px to rem, 1rem = 10px */
html {
  font-size: 62.5%;
}

html,
body,
.App {
  height: 100%;
}

.App {
  display: flex;
  place-content: center;
  background: hsla(60, 5%, 12%, 1);
  padding: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
